  <!doctype html>
  <html>
  <head>

    <!-- . -->
    <!-- Angulars Material CSS using RawGit to load directly from `bower-material/master` -->
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">


  </head>
  <body ng-app="myApp" ng-controller="myController" style="padding: 20px;">
    <a href="/angular-material-pwmanagerbug/members.html"> To member area </a>

    <form layout="column" ng-submit="login()" autocomplete="on">
      <md-input-container>
        <label> Username or E-Mail </label>
        <input ng-model="user.name" type="text" name="username" required>
      </md-input-container>

      <md-input-container>
        <label> Password </label>
        <input ng-model="user.password" type="password" name="password" required auto-fill-sync>
      </md-input-container>

      <button type="submit"> Sign in </button>
    </form>

    <!-- Password manager trigger? -->
    <div ng-if="success"> Successfully logged in! </div>



    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

    <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
    <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
    
    <script>
      var app = angular.module('myApp', ['ngMaterial']);
      
      app.controller('myController', function($scope, $http) {
        $scope.user = { };
        
        $scope.login = function() {
            // hopefully SOMETHING here triggers the password manager
            $http.post('/', $scope.user) // post request always fails - doesnt matter
                 .error(function() {
                   $scope.success = true;
                   document.cookie = 'sessionid="34kfg49g;dl9gk4slogjsgls4j"';
                   window.location.href = "/angular-material-pwmanagerbug/members.html";
                 });
        };
      });
      
      app.directive('autoFillSync', function($timeout) {
        return {
          require: 'ngModel',
          link: function(scope, elem, attrs, model) {
              $timeout(function() {
                  elem.trigger('input');
             }, 200)
          }
        };
      });
    </script>
    
  </body>
  </html>
